.github
.git
*.md
!THIRD-PARTY-LICENSES.md
.vscode
.gitignore
Makefile
makefile
docs
.eslintcache
.gocache
.gomodcache/
.gocache-temp
.gopath
.cache
/web/node_modules
/web/default/node_modules
/web/default/dist
/web/classic/node_modules
/web/classic/dist
/electron/node_modules
/electron/dist
!THIRD-PARTY-LICENSES.md
